#pickup {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  margin-bottom: 60px;

  @media(max-width: 767px) {
    flex-direction: column;
    padding-top: 140px;
  }

  article {
    width: 32%;

    @media(max-width: 767px) {
      width: 100%;
      margin-bottom: 30px;
    }

    h2 {
    font-size: 1rem;
    margin: 10px 0 15px 0;
    }
  }

  .readmore {
    font-size: 0.875rem;
    text-align: center;

    a {
      padding-bottom: 1px;
      color: #333;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 0;
        background: #333;
        transition: all 200ms ease;
      }
    }
  }
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}